@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer__link-text {
    margin: 0;
    margin-bottom: 32px;
  }

  .footer__link-text:last-of-type {
    margin-bottom: 0;
  }
}
