.cover {
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
  margin-bottom: 92px;
  position: relative;
  background-image: url(../../../images/cover__background.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}