.place__link {
  cursor: url("../../../../../images/Imported\ Layers\ Copy\ 4.png"), auto;
  transition-property: opacity;
  transition-duration: 1s;        
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}